.contactTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
    font-weight: 800;
    line-height: 36pt;
    color: #444649;
}