.contactTitle {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
    font-weight: 800;
    line-height: 36pt;
    color: white;
    padding-top: 50px;
}

.contactForm {
    height: 650px;
    width: 100%;
    background-color: #252934;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


.contactRight {
  padding-top: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #bf0154;
  padding-top: 50px;
  }

.contactHead {
padding-top: 50px;
font-size: 40px;
font-weight: bold;
text-align: center;
color: #bf0154;
}

.subhead {
  font-weight: bold;
  color: #001021;
  text-align: center;
}


.forming {
    background-color: white;
    color: #001021;
    text-align: left;
    height: 400px;
    width:70%;
    position: relative;
    margin: auto;

}

form {
  max-width: 70%;
  margin: auto;
  
  // positioning context
  > div {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
    
    // Looks like placeholder
    > label {
      color: #001021;
      font-weight: bold;
      position: absolute;
      top: 22px;
      left: 20px;
    }
    
    > input[type="text"],
    > input[type="email"],
    > input[type="password"],
    > textarea[type="text"] {
      width: 80%;
      border: 0;
      padding: 20px 20px 20px 50px;
      background: white;
      
      &:focus {
        
        // removing default focus style
        outline: 0;
        // adding new one
        background: white;
        
        & + label {
          opacity: 0;
        }
      }
      
      &:valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
      
    }
    
    .requirements {
      padding: 0 30px 0 50px;
      color: black;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: crimson;
      font-style: italic;
    }
    
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background-color: #bf0154;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
  }
}

.head {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: #bf0154;
}

@media (max-width: 900px) {
  .contactContainer {
    border-top: 0;
    float: left;
    height: 800px;
    width: 100%;
    position: relative;
}

.forming {
  border-top: 0;
  background-color: white;
  padding-top: 0px;
  padding-left: 0%;
  color: #bf0154;
  text-align: left;
  float: left;
  height: 600px;
  width:100%;
  position: relative;
  margin-top: 0px;
  margin-bottom: 60px;
}

.contactForm {
  height: 900px;
  width: 100%;
  background-color: #252934;
}

}