.aboutContainer {
    width: 80%;
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;

}


.aboutTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 36pt;
    font-weight: 800;
    line-height: 36pt;
    color: #444649;
}


.servicesHero {
    width: 100%;
}

.serviceImg {
    width: 100%;
    z-index: 0;
}

.serviceText {
    position: absolute;
    top: 100px;
    left: 25%;
    width: 50%;
    z-index: 1;
    text-align: center;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 100px;
    font-weight: 800;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.serviceSubHead {
    font-size: 40px;
}

.servicesHead {
    text-align: center;
    width: 100%;
    color: Black;
    font-size: 80px;
    padding-bottom: 5px;
}

.feature {
    width:20%;
    height: 320px;
    float: left;
    color: #444649;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28pt;
    line-height: 36pt;
    color: #444649;
}

 

@media only screen and (max-width: 900px) {

    .feature {
        width:80%;
        height:230px;
        float: left;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .serviceText {
        position: absolute;
        top: 100px;
        left: 25%;
        width: 50%;
        z-index: 1;
        text-align: center;
        padding: 10px;
        font-family: 'Raleway';
        font-size: 100px;
        font-weight: 800;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: none;
    }

}