.navbar {
    width: 100%;
    background-color: #1B242F;
    height:50px; 
    color: white;
    border-bottom: 3px solid #bf0154;
    font-family: 'Raleway';
    font-size: 20px;
}

.navbarImg {
    height: 40px;
    width: 60px;
    text-align: center;
}

.navbarTitle {
    font-size: 40px;
    color: #3de71b;
    font-weight: 800;
}

.link {
    margin: 10px 30px;
    float: left;
}
.linkBox {
    margin-left: 20px;
}



.icons {
    margin-left: 5px;
    margin-right: 5px;
    color: #3de71b;
    font-size: 30px;
}

.burger {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 85px;
    height: 15px;
    background-color: #3de71b;
    margin: 21px 20px;
    transition: 0.4s;
}

.navbarMobile { 
    display: none;
    font-size: 30px;
}


  @media (max-width: 900px) {

    .navbar {
        height: 200px;
        width: 100%;
        display: none;
    }






    .navbarTitle {
        display: none;
        font-size: 50px;
        color: #3de71b;
        font-weight: 800;
        width: 100%;
        margin-right: 0;
    }

    .navbarMobile {
        width: 100%;
        font-size: 60px;
        display: block;
        font-weight: bold;
        color: #3de71b;
        text-align: start;
        z-index: 9;
        padding-top: 20px;
        padding-left: 20px;
        height: 220px;
    }

    .mobileHead {
        width: 70%;
        height: 200px;
        float: left;
    }

    .burgerContainer {
        width: 25%;
    }

    .burger {
        margin-top: 10px;
        margin-right: 20px; 
        border: 2px solid #3de71b;
        height: 140px;
        width: 130px;
        display: block;
        border-radius: 10%;
        float: left;
    }


    .bar1 {
        width: 85px;
        height: 15px;
        background-color: #3de71b;
        margin: 21px 20px;
        transition: 0.4s;
    }

    .barChange1 {
        width: 130px;
        height: 15px;
        background-color: #3de71b;
        margin: 21px 20px;
        transition: 0.4s;
        -webkit-transform: rotate(-45deg) translate(-20px, -15px);
        transform: rotate(-45deg) translate(-40px, 5px);
      }
      
      .barChange2 {
      display:none;
      }
      
      .barChange3 {
        transition: 0.4s;
        width: 130px;
        height: 15px;
        background-color: #3de71b;
        margin: 20px 20px;
        -webkit-transform: rotate(-45deg) translate(-20px, 15px);
        transform: rotate(45deg) translate(-20px, 15px);
      }

    .mobileDrop {
        height: 500px;
    }

  }